.containerinterno {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr ;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas: "header  header   header  header  header   header"
                          "nav     nav      nav     nav     nav      nav"
                        "contenido contenido contenido contenido contenido contenido"
                         "footer   footer footer   footer  footer   footer";
    grid-gap: 20px;
    height: 100vh;
}
.header {
    grid-area: header;
    text-align: center;
    
}
.header > h1 {
    color: rgba(3, 29, 5, 0.178);
    
}

.nav {
    grid-area: nav;
    text-align: center;
}
.contenido {
    grid-area: contenido;
    text-align: center;

}
.footer {
    grid-area: footer;
    text-align: center;
}
.item {
    background-color: greenyellow;
    padding: 10px;
    color: rgb(1, 15, 1);
    border-radius: 10px;
}